<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <title>|Handling Events!!!|</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="theme/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body ng-controller="myController">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>

                <input type="text" class="form-control" placeholder="Search by Name and Salary" ng-model="searchText">

            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td ng-click="sortData('name')">
                    Name: <div ng-class="sortClass('name')"></div>
                </td>
                <td ng-click="sortData('dateOfBirth')">
                    Date of Birth: <div ng-class="sortClass('dateOfBirth')"></div>
                </td>
                <td ng-click="sortData('gender')">
                    Gender: <div ng-class="sortClass('gender')"></div>
                </td>
                <td ng-click="sortData('salary')">
                    Salary: <div ng-class="sortClass('salary')"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in persons | orderBy: sortColumn:reverseSort | filter: search">
                <td>{{ person.name | uppercase}}</td>
                <td>{{ person.dateOfBirth | date: "MM-dd-yyyy"}}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.salary }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
